* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 16px Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
  height: 3em;
  background: #0099ff;
  box-shadow: 0 5px 10px #0000003b;
}

a {
  font: 2em;
  color: #fff;
  text-decoration: none;
}

header a {
  box-shadow: 10px #fff;
  margin-right: 1em;
}

header a:hover {
  box-shadow: 10px solid #fff;
}

main {
  margin: 5em auto;
  width: 90%;
  background: rgb(245, 245, 245);
  box-shadow: 0 5px 10px #0000003b;
  padding: 2em;
}

main h1 {
  line-height: 50px;
}

.logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.indent {
  margin-top: 1em;
}

h2 {
  margin: 1em 0;
}

ul {
  margin-left: 2em;
}

li {
  margin: 0.3em;
}

form {
  display: flex;
  flex-direction: column;
}

form p{
  text-align: center;
}

input {
  margin: 1em;
  height: 2em;
  text-align: center;
  outline: none;
}

@media (min-width: 800px) {
  .log {
    width: 60%;
  }  
}

button {
  margin: auto;
  width: 40%;
  height: 3em;
  margin-top: 1em;
}


